CONVEX_SECRET=~

UPLOADTHING_APP_ID=kxwn1lnejt
UPLOADTHING_TOKEN=~

# Public variables
PUBLIC_SITE_URL=http://localhost:5173

PUBLIC_POSTHOG_PROXY=https://prod-events.l3.dev
PUBLIC_POSTHOG_KEY=~
PUBLIC_HCAPTCHA_SITEKEY=~

PUBLIC_CONVEX_URL=http://127.0.0.1:3210
PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211
