@versetools:registry=https://packages-851725332151.d.codeartifact.eu-central-1.amazonaws.com/npm/versetools/
@l3dev-private:registry=https://packages-851725332151.d.codeartifact.eu-central-1.amazonaws.com/npm/l3dev-private/

engine-strict=true
enable-pre-post-scripts=true
